 
        
     *{
        margin: 0 auto;
    }

    body{
        background-color: black;
    }
     
   .div1{
    height: 200px;
   }
  
 /*  menu  */
  
    .menu {
        width: 100%;
        background-color: black;
        list-style: none;
        float: left;
        padding: 5px;
        font-size: 20px;
      }
    
     .menu li {
         width: 25%;
        position: relative; 
         float: left;
         text-align: center;
    } 
    .menu li a {
        color: rgb(250, 249, 249);
        text-decoration: none;
        padding: 5px;
        display: block;
        font-size: 25px;
    }
    .menu li a:hover {
        background: rgba(51, 51, 51, 0.37);
        color: #fff;
        
        text-shadow: 0px 0px 5px #fff;
    }
    .menu li ul {
        position: absolute;
        top: 25px;
        left: 0;
        display: none;
        width: 100%;
    }
    .menu li:hover ul,
    .menu li.over ul {
      display: block;
      
    }
    .menu li ul li {
        display: block;
        width: 100%;
        font-family: 'Syne Tactile';
        color: #fff;
        font-size: 18px;
        text-align: justify;
        background-color: black;
        
    }

.fundo{    
    background-color: #3d3f3e;
    color: white;
    width: 70%;
    height: 80%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 29px;
    
}

h2{
    margin-bottom: 86px;
}


h1{
        margin-top: 50px;
        text-align: center;
}
.paragrafo{
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-top: 1%;
    margin-bottom: 1%;
}



.img{
    width: 45%;
    padding: -1px;
    margin-left: 3%;
    margin-top: 2%;
}



.grid{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-auto-flow: column;
    text-align: center;
    background-color: #131313e0;
    height: 50%;
    
    
}


#copy{
    color: white;
    font-size: 20px;
}


.divFrom{
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    flex-direction: column;
    
        
}

.divFrom > label{
    flex: 1 0 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
   
}